<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TKComponentTaskName</key>
	<string>VAS</string>
	<key>TKComponentDataDirectory</key>
	<string>~/Desktop</string>
	<key>TKComponentCrashRecoveryFileName</key>
	<string>vas.cr</string>
	<key>TKVasQuestionFile</key>
	<string>~/Desktop/questions.tsv</string>
	<key>TKVasQuestionAccessMethod</key>
	<integer>1</integer>
	<key>TKVasNumberOfIntendedQuestions</key>
	<integer>4</integer>
	<key>TKVasNumberOfTickMarks</key>
	<integer>5</integer>
	<key>TKVasLeftPrompt</key>
	<string>Left</string>
	<key>TKVasMiddlePrompt</key>
	<string></string>
	<key>TKVasRightPrompt</key>
	<string>Right</string>
</dict>
</plist>
